<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Конструктор пиццы</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="index.js"></script>
</head>
<body ng-app="PizzaApp" ng-controller="PizzaConstructor">
    <select ng-options="base as base.name for base in bases" ng-model="pizza.base"></select>
    <select ng-options="souce as souce.name for souce in souces" ng-model="pizza.souce"></select>

    <div ng-repeat="ing in pizza.ingridients">
        <input type="number" ng-model="ing.count" min="1" max="5" step="1">
        Ингридиент: {{ing.name}}
        Цена: {{ing.price}}
        <button ng-click="RemoveIngridient(ing)">Удалить</button>
        <br>
    </div>

    <select ng-options="opt as opt.name for opt in ingridients" ng-model="currentIngridient"></select>
    <button ng-disabled="!currentIngridient" ng-click="AddIngridient()">Добавить</button>

    <h3>{{TotalPrice()}}</h3>
</body>
</html>